<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User SignUp</title>
</head>
<body>
    <form action="/user/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <label for="wallet_id">MetamaskId:</label>
        <input type="text" name="wallet_id" id="wallet_id" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>