<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .navbar{
            margin: 10px;
            padding: 10px;
            background-color: #535353;
            display: flex;
            justify-content: space-around;

        }
        a{
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/user">Home</a>
        <a href="#">Transactions</a>
        <a href="/user/my-learning">My Learning</a>
        <a href="#">Redeem</a>
        <a href="#">Search</a>
        <a href="#">Contest</a>
        <a href="/user/login">Login</a>
    </div>
</body>
</html>