
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      color-scheme: light dark;
    }
  }
  
  body {
    transition: background-color 0.3s, color 0.3s;
  }
  /* Add custom animations */
@layer utilities {
    .animation-range {
      animation-timeline: view() range(entry 0);
    }}

  /* src/index.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Light Theme Styles */
body.light {
  background-color: white;
  color: black;
}

.bg-light-theme {
  background-color: #f0f0f0; /* Light background for this page */
}

.text-black {
  color: black;
}

/* Dark Theme Styles */
body.dark {
  background-color: #121212;
  color: white;
}

.bg-dark-theme {
  background-color: #333; /* Dark background for this page */
}

.text-white {
  color: white;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-amber-50 dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-amber-400 rounded-full;
}

